---
import BlogLayout from '../../layouts/BlogLayout.astro';
import { getCollection } from 'astro:content';
import { Card, CardGrid } from '@astrojs/starlight/components';
const posts = await getCollection('blog');
---
<BlogLayout title="Blog">
  {posts.length === 0 ? (
    <p>No posts yet.</p>
  ) : (
    <CardGrid>
      {posts.map((post) => (
        <Card title={post.data.title} description={post.data.description} href={`/blog/${post.slug}/`} />
      ))}
    </CardGrid>
  )}
</BlogLayout>
